{{define "editor"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello, World!</title>
  <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/dist/tailwind.css" />
</head>
<body>
   <div class="flex flex-row w-full">
      <textarea 
         class="flex-1 p-6 min-h-96"
         id="editor"
         hx-post="/editor/render" 
         hx-trigger="keyup delay:500ms" 
         hx-target="#preview"
         hx-swap="innerHTML"
         type="text"
         name="content">
      </textarea>
      <div 
         id="preview" 
         class="flex-1 bg-stone-50 p-6 min-h-96">
      </div>
   </div>
</body>
</html>
{{end}}
