package templates

import "github.com/PedroBinotto/website/templates/components"

import "github.com/PedroBinotto/website/shared"

templ Blogs(blogs []shared.BlogPayload) {
	@components.Article() {
		<header>
			<h1>Pedro's ramblings</h1>
			<p>Someday we might have a newsletter.</p>
		</header>
		<div>
			// TODO: fetch blogs incrementally with HTMX
			for _, blog := range blogs {
				@components.BlogCard(blog)
			}
		</div>
	}
}
