package templates

import "github.com/PedroBinotto/website/templates/components"

templ Playground() {
	@components.Article() {
		<header>
			<h1>playground</h1>
			<p>This page is meant for experimentation and testing new compontents/ mechanics.</p>
		</header>
	}
}
