package components

templ SiteTitle() {
	<div class="font-mono text-lg">
		<a href="/" class="no-underline whitespace-nowrap">
			pedro binotto <span class="font-bold">$</span> <span class="animate-ping">❚</span>
		</a>
	</div>
}
